Default port number of signal channel

4646(dedicated) or 5684(CoAP over DTLS) ?

```
The default port for DOTS signal channel is 5684 (Section 12.7 in [RFC7252] and Section 10.4 in [I-D.ietf-core-coap-tcp-tls])
```

IANA allocation has been requested by WG chair

```
Based on the unanimous positive response, a request for this early allocation has been sent to our AD per Step #4 of Section 3.1 of RFC7120.
```