Avoid potential resource exhaustion from decoding malformed CBOR data

Hi, go-dots looks like a nice fit for [fxamacker/cbor](https://github.com/fxamacker/cbor/blob/master/README.md), which doesn't crash and supports "toarray", "keyasint", and "omitempty" struct tags.

![alt text](https://github.com/fxamacker/images/raw/master/cbor/v2.2.0/cbor_security_638px.svg?sanitize=1 "CBOR API and Go Struct Tags")

For info about CBOR and security, see [Section 8 of RFC 7049 (Security Considerations)](https://tools.ietf.org/html/rfc7049#section-8).

Other advantages include standard API and smaller app size.

__Click to expand topic:__

<details>
 <summary>API is encoding/json + toarray/keyasint/omitempty struct tags </summary><p>

Struct tags like __`toarray`__ & __`keyasint`__ translate Go struct fields to CBOR array elements, etc.

![alt text](https://github.com/fxamacker/images/raw/master/cbor/v2.2.0/cbor_struct_tags_api.svg?sanitize=1 "CBOR API and Go Struct Tags")

</details>

<details>
 <summary>Compiled Program Size Comparison</summary><p>

fxamacker/cbor produces smaller programs -- both libraries were used for same CBOR activities. And cisco/senml had MessagePack feature removed from all builds.

|     | fxamacker/cbor 2.2 | ugorji/go 1.1.7 |
| --- | --- | --- |
| custom app | 2.8 MB | 11.9 MB |
| cisco/senml | 7.6 MB | 12 MB |

</details>

<details>
 <summary>Speed Comparison</summary><p>

fxamacker/cbor is faster using test data from RFC 8392 A.1 and default options.

|     | fxamacker/cbor 2.2 | ugorji/go 1.1.7 |
| --- | --- | --- |
| Encode CWT claims  | 451 ns/op | 977 ns/op |
| Decode CWT claims  | 765 ns/op | 1100 ns/op |

fxamacker/cbor is optimized for using Go structs.

</details>

<details>
 <summary>Memory Comparison</summary><p>

fxamacker/cbor uses less memory using test data from RFC 8392 A.1 and default options.

|     | fxamacker/cbor 2.2 | ugorji/go 1.1.7 |
| --- | --- | --- |
| Encode CWT claims  | 176 B/op, 2 allocs/op | 1424 B/op, 4 allocs/op |
| Decode CWT claims  | 176 B/op,	6 allocs/op | 568 B/op, 6 allocs/op |

</details>


@lieunguyen-tma updated with more info about vulnerability in nttdots/go-dots.